body {
    width: 1200px;
    margin: 0px auto;
    background-color: #009999;
    font-family: Verdana;
}

body h1 {
    margin-top: 10px;
    color: #5CCCCC;
    text-align: center;
}

#control-panel {
    float: left;
    background-color: #33CCCC;
    width: 280px;
    height: 800px;
    padding-left: 20px;
}

#graph {
    position: relative;
    background-color: #555555;
    float: left;
    width: 900px;
    height: 800px;
}

.node {
    border: 2px solid #CCCCCC;
    padding: 20px;
    border-radius: 30px;
    position: absolute;
    background-color: #006363;
    color: #CCCCCC;
    line-height: 20px;
    font-size: 16px;
}

.node.selected {
    border: 2px solid #FF9999;
}

.node form {
    margin: 0px;
}

.node form input {
    height : 20px;
    border: 0;
}

.link {
    position: absolute;
    height: 2px;
    background-color: #CCCCCC;
    transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
}

#connect {
    position: absolute;
    width: 20px;
    height : 20px;
    text-align: center;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

#connect:hover {
    color: #9f9;
}

.clearfix {
    clear: both;
}