body {
    width: 1200px;
    margin: 0px auto;
    background-color: #009999;
}

body h1 {
    margin-top: 10px;
    color: #5CCCCC;
    text-align: center;
}

#control-panel {
    float: left;
    background-color: #33CCCC;
    width: 280px;
    height: 800px;
    padding-left: 20px;
}

#graph {
    position: relative;
    background-color: #555555;
    user-select: none;
    float: left;
    width: 900px;
    height: 800px;
    -moz-user-select: none;
}

.node {
    border: 2px solid #CCCCCC;
    padding: 20px;
    border-radius: 30px;
    position: absolute;
    background-color: #006363;
    color: #CCCCCC;
}

.node.selected {
    border: 2px solid #FF9999;
}

.link {
    position: absolute;
    height: 2px;
    background-color: #CCCCCC;
    transform-origin: 0 100%;
}

.clearfix {
    clear: both;
}